* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(
        rgb(76,76,76),
        rgb(19,19,19));
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}
button:hover {
    color: rgba(255, 255, 255, 0.658);
    transition: all .3s; 
}

.playlist {
    display: flex;
    justify-content: center;
    margin: 1em 0 3em 0;
}
#cover {
    width: 400px;
}
.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}
.infos h2 {
    max-width: 400px;
    font-size: 2em;
    font-weight: 900;
}
.infos p {
    font-size: .9em;
    font-weight: 100;
    color: rgb(187,187,187);
}
.like {
    color: rgb(187,187,187);
    font-size: 1.5em; 
}
#progress-container {
    padding-top: 1em;
    padding-bottom: 1.5em;
    cursor: pointer;
}
.progress-bar {
    background-color: rgb(187,187,187);
    height: 3px;
    border-radius: 15px;
}
#current-progress {
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button {
    font-size: 1.5em;
}
.button-navigate {
    font-size: 3em;
}
.button-biggest {
    font-size: 4em;
}
.button-active {
    color: rgb(28,175,80);
}

