* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-image: linear-gradient(
        rgb(76,76,76),
        rgb(19,19,19));
    color: white;
    display: flex;
    flex-direction: column;    
}
.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button {
    font-size: 1.5em;
}
.button-navigate {
    font-size: 2em;
}
.button-biggest {
    font-size: 3em;
}

